.skillwrap {
    width: 100%;
    height: 100%;

    .skillbox {
        width: 100%;
        height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .iconbox {
        display: flex;
    }
}